@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import 'config';
@import 'navigation';
@import 'tabs';
@import 'animate';

// Update Bulma's global variables
$family-sans-serif: 'Titillium Web', sans-serif;
$primary: $theme-blue;
$link: $theme-yellow;
$text: $theme-dark-yellow;
$title-color: $theme-yellow;
$link-hover: $theme-white;
$link-visited: $theme-blue-secondary;
$link-active: $theme-blue;
// Update some of Bulma's component variables
$body-background-color: $theme-dark-blue;
$tabs-border-bottom-color: $text;
$tabs-link-hover-border-bottom-color: $link;
$tabs-link-hover-color: $link;
$tabs-link-color: $theme-dark-yellow;
$tabs-link-active-color: $link;
$card-background-color: transparent;
$card-shadow: 0;
$card-header-color: $link;
$card-footer-border-top: 1px solid $theme-dark-yellow;
$footer-background-color: $theme-yellow;
$footer-color: $theme-dark-blue;
$footer-padding: 1rem 1.5rem 1rem;
$navbar-background-color: $theme-dark-blue;
$navbar-item-hover-background-color: $theme-dark-blue;
$modal-card-head-background-color: $theme-yellow;
$modal-card-head-border-bottom: 0;
$modal-card-body-background-color: $theme-dark-blue;

.card {
  border: 1px solid $theme-dark-yellow !important;
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-equal-height .card-footer {
  margin-top: auto;
}

.grouped-button-margin {
  margin: 0 0.5rem;
}

.font-dark-blue {
  color: $theme-dark-blue !important;
}

a:hover {
  color: white !important;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s;
}

.font-yellow {
  color: $theme-yellow !important;
}

.padded-header {
  padding-top: 1rem;
}

html {
  scroll-behavior: smooth;
}

.fadeIn {
  animation-duration: 1s !important;
}

.with-primary-border {
  border: 1px solid $theme-dark-yellow;
  cursor: pointer;
}

.featured-project-title {
  margin-bottom: 1rem;
}

@import '~bulma/bulma.sass';
